<!-- <div ng-controller="showController">
Attention. Avec le routing, le controller est executé 2 fois... => pas besoin de la mettre ici
 -->
<div class="col-md-6 col-md-offset-3">

<div class="panel panel-primary">

  <div class="panel-heading">
    <h3 class="panel-title text-center">Mon n° d'identification est :<br>{{nuserie}}</h3>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title text-center qrv-panel-title">N° de médaille QRV : {{codepin}}</div>
    </div>
  </div>

  <div class="panel-body">

        <div class="text-center text-danger">
Le propriétaire de l’animal que vous venez de recueillir ne
nous a communiqué aucune information
        </div>
      <br/>

      <div class="row text-center">
          <img ng-src="img/chien-1.jpg">
      </div>

      <div class="panel-body">
Pour retrouver le propriétaire de cet animal, nous
vous conseillons :
<br><br>
<ul type="square">
<li>de nous appeler au <strong>03 80 24 22 93</strong><br>(heures de bureau)</li>
<li>de prendre contact avec les vétérinaires et les refuges avoisinants</li>
<li>de signaler cet animal au gestionnaire du fichier des identifications :<br>
I-CAD tél : <strong>08 10 77 87 78</strong></li>
</ul>
      </div>      

  </div>
</div>
</div>	<div class="col-sm-12 text-center">			<a href='#/Contact' class="btn btn-primary btn-info"><span class="glyphicon glyphicon-play"></span> Contactez-nous</a>			</div>

