<div class="col-md-6 col-md-offset-3">

<div class="panel panel-primary">

  <div class="panel-heading">
    <h2 class="panel-title text-center">Mise à jour pour le N° </h2>
    <h4 class="panel-title text-center">{{nuserie}}</h4>
  </div>
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title text-center qrv-panel-title">N° de médaille QRV : {{codepin}}</div>
    </div>
  </div>


  <form >

    <div class="panel panel-info text-center">
  
      <div class="panel-body" >

        <label>Votre adresse de messagerie</label>
        <input type="email" name="email_proprio" id="email_proprio" class="form-control" ng-model="email_proprio">
        
        <br>
        
        <button type="button" class="btn btn-info" data-toggle="modal"  data-target="#passwordModal"  >
          <span class="glyphicon glyphicon-pencil"></span> Changer mon mot de passe
        </button>


      </div>
    </div>

    <div class="panel panel-info text-center">
  
      <div class="panel-body" >

        <label>Le nom de votre animal</label>
        <input type="text" name="nom_animal" class="form-control" ng-model="nom_animal">

        <label>Espèce</label>
          <div class="form-group">
            <label><input type="radio" name="espece" value="0" ng-model="espece" checked> Chien&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <label><input type="radio" name="espece" value="1" ng-model="espece">&nbsp;&nbsp;&nbsp;&nbsp;Chat </label>
          </div>

        <label>Date naissance</label>
        <input type="date" name="date_naissance" id="date_naissance" class="form-control" ng-model="date_naissance">

        <label>Race</label>
        <input type="text" name="race" id="race" class="form-control" ng-model="race">

        <label>Votre nom</label>
        <input type="text" name="nom_proprio" class="form-control"  ng-model="nom_proprio" capitalize_all>
    
        <label>Votre prénom</label>
        <input type="text" name="prenom_proprio" class="form-control" ng-model="prenom_proprio" capitalize-first>
    
        <label>Votre téléphone</label>
        <input type="text" name="tel_proprio" class="form-control" ng-model="tel_proprio">
<h5 class="small_red">Avec ce n° de tél, toute personne ayant recueilli votre animal pourra entrer directement en contact avec vous. Il ne sera en aucun cas utilisé à des fins commerciales
</h5>
        <label>Votre code postal</label>
        <input type="text" name="code_postal" class="form-control" ng-model="code_postal">

      </div>
    </div>

<div class="row text-center">
    {{message}}
</div>

<div class="panel panel-default">
<div class="panel-body">
    <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="updateForm()" >
      <span class="glyphicon glyphicon-flash"></span> Mise à jour
    </button>
</div>
</div>

</form>

</div>  

<h5><small class="text-center">
  Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à VETHICA BP 312 - 21208 BEAUNE
</small></h5>


<!-- CHANGEMENT DE MOT DE PASSE -->

<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Fermer</button>
            <h4 class="modal-title">Changement de mot de passe</h4>
            </div>
            <div class="modal-body">

                <label>Saisissez votre mot de passe</label>
                <input type="password" name="password_proprio" id="password_proprio"  class="form-control" ng-model="password_proprio1" size="40"ng-change="change_password()" >
                <label>Saisissez à nouveau pour confirmation</label>
                <input type="password" name="password_proprio" id="password_proprio"  class="form-control" ng-model="password_proprio2" size="40">

            </div>

            <div class="mess_error">{{mess}}</div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="do_change_password()" >Valider</button>
            </div>

        </div>

    </div>
</div>


</div><div class="col-sm-12 text-center">			<a href='#/Contact' class="btn btn-primary btn-info"><span class="glyphicon glyphicon-play"></span> Contactez-nous</a>			</div>
