
<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title text-center">PASSWORD</h2>
  </div>
  <div class="panel-body">

  <form ng-submit="checkPassword()">
    <!-- Intro du password -->
    <div id="password-group" class="form-group" ng-class="{ 'has-error' : error_user_password }">
      <label>Donnez votre mot de passe pour accèder à votre fiche Animal</label>
      <input type="text" name="pwd" class="form-control" placeholder="Mot de passe reçu" ng-model="formData.user_password">
      <span class="help-block" ng-show="error_user_password">{{ error_user_password }}</span>
    </div>

    <!-- SUBMIT BUTTON -->
    <button type="submit" class="btn btn-success btn-lg btn-block">
      <span class="glyphicon glyphicon-flash"></span> Submit!
    </button>

  </form>


  </div>
</div>

<footer class="footer text-center"><p>Powered by Vethica</p></footer> 
 